

[user]
    name = JiYuan
    email = olderfe66@gmail.com

[core]
    editor = nvim
    pager = delta

[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    up = pull -r
    sw = switch

[color]
    ui = auto

[pull]
    rebase = true

[merge]
  tool = diffview
[mergetool]
  prompt = false
  keepBackup = false

[mergetool "diffview"]
  cmd = nvim -n -c "DiffviewOpen" "$MERGE"

[difftool]
    prompt = false

[diff]
    tool = nvimdiff

[difftool "nvimdiff"]
    cmd = nvim -d -c 'DiffviewOpen HEAD %1 %2'

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    features = decorations
    dark = true
    line-numbers = true
    side-by-side = true
    line-numbers-right-format = "│ "

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax


