[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/plugins/fast-syntax-highlighting"]
	path = zsh/plugins/fast-syntax-highlighting
	url = git@github.com:zdharma-continuum/fast-syntax-highlighting.git
[submodule "zsh/themes/powerlevel10k"]
	path = zsh/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "zsh/plugins/zsh-completions"]
	path = zsh/plugins/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "zsh/plugins/zlua"]
	path = zsh/plugins/zlua
	url = https://github.com/skywind3000/z.lua.git
[submodule "zsh/plugins/fzf-tab"]
	path = zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
